---
export interface Props {
  title: string;
  subtitle?: string;
  description: string;
  achievements: string[];
  tags: string[];
}

const { title, subtitle, description, achievements, tags } = Astro.props as Props;
---

<div class="single-item">
  <h3 style="margin: 0;">{title}</h3>

  {subtitle && <div style="margin-top: 6px; color: #a8a8a8; font-size: 14px;">{subtitle}</div>}

  <div class="project-desc project-desc-list" style="margin-top: 10px; margin-left: 0;">
    <div style="margin-left: 0;">{description}</div>
  </div>

  <div class="mini-label-white" style="margin-top: 18px;">Core Technical Achievements</div>
  <div class="project-desc project-desc-list" style="margin-top: 6px; margin-left: -24px;">
    <ul role="list">
      {achievements.map((a) => <li>{a}</li>)}
    </ul>
  </div>

  {tags?.length ? (
    <>
      <div class="mini-label-white" style="margin-top: 18px;">Tech Tags</div>
      <div class="chips-container">
        {tags.map((t) => <div class="single-chip">{t}</div>)}
      </div>
    </>
  ) : null}
</div>
